@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
	.cell-1 {
		grid-column: 1 / 1;
		grid-row: 1 / 1;
	}
}
